.del {
	border: 2px solid white;
	border-radius: 50%;
	background-color: blue;
	color: white;
	padding: 1%;
	width: 6%;
	margin: 1%;
	font-size: 1em;
}

.is-complete {
	text-decoration: line-through;
}
