/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: royalblue;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 2em;
	margin: 10%;
	line-height: 5;
	color: white;
	display: inline-block;
	width: 100%;
}
